---
import GitHub from "./icons/GitHub.astro";
import LinkedIn from "./icons/LinkedIn.astro";
import SocialPill from "./icons/SocialPill.astro";
import NavigationMenu from "../features/navigation/NavigationMenu.astro";
import HeaderWrapper from "./HeaderWrapper";
---

<HeaderWrapper client:load>
  <h1 class="font-bold text-white text-xl sm:text-2xl tracking-tight justify-self-start">{"<DAVIIC/>"}</h1>
  
  <div class="justify-self-center">
    <NavigationMenu />
  </div>
  
  <nav class="flex gap-x-4 items-center justify-self-end dark:text-white text-white">
    <SocialPill href="https://github.com/LuisDavidTorres">
      <GitHub />
    </SocialPill>

    <SocialPill href="https://www.linkedin.com/in/Luis-dv/">
      <LinkedIn />
    </SocialPill>
  </nav>
</HeaderWrapper>
