---
import GitHub from "./icons/GitHub.astro";
import LinkedIn from "./icons/LinkedIn.astro";
import SocialPill from "./icons/SocialPill.astro";
---

<header class="py-5 mx-auto w-full flex justify-between sticky top-0 z-10 backdrop-blur-sm opacity-90 xl:px-64 p-8 sm:px-20">
  <h1 class="font-bold text-white">DAVIIC</h1>
  <nav class="flex gap-x-4 items-center dark:text-white text-white">
    <SocialPill href="https://github.com/LuisDavidTorres">
      <GitHub />
    </SocialPill>

    <SocialPill
      href="https://www.linkedin.com/in/Luis-dv/"
    >
      <LinkedIn />
    </SocialPill>
  </nav>
</header>
