---
import ExperiencieItem from "./ExperiencieItem.astro";

const Experience = [
  {
    conpany: "Motrixel",
    date: "Diciembre 2024 - Febrero 2025",
    position: "Analista de datos",
    description:
      "Estandaricé la estructura de la base de datos para optimizar la gestión de inventarios y agilizar la toma de decisiones. Además, estuve a cargo de implementar visualizaciones dinámicas en Power BI para identificar tendencias de mercado y oportunidades de negocio.",
  },
  {
    conpany: "Rentaq",
    date: "Abril 2024 - Octubre 2024",
    position: "Desarrollador web FullStack",
    description:
      "Desarrollé un sitio web para conectar a compradores y vendedores de repuestos automotrices, utilizando React y Node.js. Implementé la pasarela de pago Transbank para facilitar transacciones seguras dentro del sitio. Este proyecto permitió establecer un nuevo modelo de negocio que busca ser más eficiente y accesible.",
  },
  {
    conpany: "RH Seguridad",
    date: "Noviembre 2023 - Marzo 2024",
    position: "Desarrollador de software de escritorio",
    description:
      "Estuve a cargo de desarrollar de un proyecto utilizando Python y pandas, destinado a automatizar los reportes diarios de gestión de recursos humanos en la empresa RH Seguridad. Este proyecto reemplazó el proceso manual previo que utilizaba Excel, lo que resultó en una notable reducción del tiempo requerido para la generación y entrega de los reportes.",
  },

];
---

<div class="relative border-s border-gray-200 mt-4 ml-3">
  {Experience.map((experience) => <ExperiencieItem {...experience} />)}
</div>
