---
interface props {
  conpany: string;
  date: string;
  position: string;
  title: string;
  description: string;
}

const { conpany, date, position, title, description } = Astro.props;
---

<li class="mb-10 last:mb-0 ms-4">
  <div
    class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"
  >
  </div>
  <time class="text-xs font-normal leading-none text-white dark:text-white"
    >{date}</time
  >
  <section class="mb-1 sm:flex items-center sm:space-x-2">
    <p class="text-sm">{position}</p>
    <p class="text-xs text-stone-400 italic">{conpany}</p>
  </section>

  <p class="mb-4 text-base font-normal text-white dark:text-white opacity-80">
    {description}
  </p>
</li>
