---
import ExperiencieItem from "./ExperiencieItem.astro";

const Experience = [
  {
    conpany: "Motrixel",
    date: "Dic 2024 - Feb 2025",
    position: "Analista de Datos",
    description:
      "Diseñé e implementé procesos de transformación de datos para abordar inconsistencias en los registros ingresados manualmente en la base de datos. Apliqué reglas de estandarización y normalización, incluyendo el mapeo de abreviaciones y formatos variables a valores consistentes y legibles para negocio. Esto mejoró la calidad de los datos y permitió un análisis más confiable.",
  },
  {
    conpany: "Rentaq",
    date: "Abr 2024 - Oct 2024",
    position: "Full Stack Developer",
    description:
      "Participé en el diseño y desarrollo de una aplicación web orientada a centralizar la búsqueda de repuestos automotrices, conectando la demanda de clientes con una red de distribuidores. Implementé un modelo de publicación de requerimientos, donde los usuarios generan solicitudes que son visibles para todos los distribuidores registrados, permitiendo a los clientes encontrar repuestos difíciles de conseguir.",
  },
  {
    conpany: "RH Seguridad",
    date: "Nov 2023 - Mar 2024",
    position: "Software Developer",
    description:
      "Desarrollé una solución para automatizar reportes de recursos humanos, que antes se realizaban de forma manual y requerían varias horas a la semana. Utilicé Python y Pandas para procesar y consolidar la información, lo que permitió reducir errores y eliminar tareas repetitivas, liberando tiempo para actividades de mayor valor.",
  },
];
---

<div class="space-y-12">
  {Experience.map((exp) => <ExperiencieItem {...exp} />)}
</div>
