---
import GitHub from "../../../shared/components/icons/GitHub.astro";
import LinkedIn from "../../../shared/components/icons/LinkedIn.astro";
import SocialPill from "../../../shared/components/SocialPill.astro";
import NavigationMenu from "../NavigationMenu.astro";
import HeaderWrapper from "./HeaderWrapper";
import ThemeToggle from "../../../shared/components/ThemeToggle";
---

<HeaderWrapper client:load>
  <a href="/" class="font-semibold text-lg text-neutral-900 dark:text-white hover:opacity-60 transition-opacity">
    David Phillips
  </a>
  
  <NavigationMenu />
  
  <div class="flex items-center gap-3">
    <ThemeToggle client:load />
    <div class="hidden sm:flex items-center gap-1">
      <SocialPill href="https://github.com/LuisDavidTorres">
        <GitHub />
      </SocialPill>
      <SocialPill href="https://www.linkedin.com/in/Luis-dv/">
        <LinkedIn />
      </SocialPill>
    </div>
  </div>
</HeaderWrapper>
