---
import React from "../icons/React.astro";
import Javascript from "../icons/Javascript.astro"
import Python from "../icons/Python.astro"
import Java from "../icons/Java.astro"
import Aws from "../icons/Aws.astro"
import CShahrp from "../icons/CSharp.astro"
import Next from "../icons/Next.astro"
import Node from "../icons/Node.astro"
import Php from "../icons/Php.astro"
import PostgreSql from "../icons/PostgreSql.astro"
import Astr from "../icons/Astr.astro"
import AndroidStudio from "../icons/AndroidStudio.astro"

---

<div class="mt-10 gap-8 sm:gap-24 grid grid-cols-3 sm:grid-cols-6 ms-4 md:ms-0">
  <Javascript/>
  <Python/>
  <Java/>
  <CShahrp/>
  <Php/>
  <React/>
  <Next/>
  <Node/>
  <Astr/>
  <PostgreSql/>
  <Aws/>
  <AndroidStudio/>
</div>
