---
import React from "../icons/React.astro";
import IconsknowledgeCard from "../cards/IconsknowledgeCard.astro";
import Javascript from "../icons/Javascript.astro";
import Python from "../icons/Python.astro";
import Java from "../icons/Java.astro";
import Aws from "../icons/Aws.astro";
import CShahrp from "../icons/CSharp.astro";
import Next from "../icons/Next.astro";
import Node from "../icons/Node.astro";
import Php from "../icons/Php.astro";
import PostgreSql from "../icons/PostgreSql.astro";
import Astr from "../icons/Astr.astro";
import AndroidStudio from "../icons/AndroidStudio.astro";
---

<div class="mt-10 gap-3 grid grid-cols-3 sm:grid-cols-6 border p-10 rounded-lg place-items-center border-slate-600/50">
  <IconsknowledgeCard><Javascript /></IconsknowledgeCard>
  <IconsknowledgeCard> <Python /></IconsknowledgeCard>
  <IconsknowledgeCard><Java /></IconsknowledgeCard>
  <IconsknowledgeCard> <CShahrp /></IconsknowledgeCard>
  <IconsknowledgeCard> <Php /></IconsknowledgeCard>
  <IconsknowledgeCard> <React /></IconsknowledgeCard>
  <IconsknowledgeCard> <Next /></IconsknowledgeCard>
  <IconsknowledgeCard> <Node /></IconsknowledgeCard>
  <IconsknowledgeCard> <Astr /></IconsknowledgeCard>
  <IconsknowledgeCard> <PostgreSql /></IconsknowledgeCard>
  <IconsknowledgeCard> <Aws /></IconsknowledgeCard>
  <IconsknowledgeCard> <AndroidStudio /></IconsknowledgeCard>
</div>
