---
import ProyectsCard from "../cards/ProyectsCard.astro";

const Projects = [
  {
    title: "Busca Repuestos",
    role: "Desarrollador Web Full-Stack",
    description:
      "Diseñé y desarrollé un sitio web para conectar compradores y vendedores de repuestos, utilizando React para el frontend y Node.js para el backend. Implementé la pasarela de pago Transbank y las notificaciones vía WhatsApp.",
    image: "/images/project_busca_repuestos.webp",
  },
  {
    title: "Busca Repuestos",
    role: "Desarrollador de aplicaciones de escritorio",
    description:
      "Diseñé y desarrollé un sitio web para conectar compradores y vendedores de repuestos, utilizando React para el frontend y Node.js para el backend. Implementé la pasarela de pago Transbank y las notificaciones vía WhatsApp.",
    image: "/images/project_etl.webp",
  },
  {
    title: "Busca Repuestos",
    role: "Desarrollador de apps móviles",
    description:
      "Diseñé y desarrollé un sitio web para conectar compradores y vendedores de repuestos, utilizando React para el frontend y Node.js para el backend. Implementé la pasarela de pago Transbank y las notificaciones vía WhatsApp.",
    image: "/images/project_busca_repuestos.webp",
  },
];
---

<div class="mt-4 mb-6">
  {Projects.map((project) => <ProyectsCard {...project} />)}
</div>
