---
import ProyectsCard from "../cards/ProyectsCard.astro";

const Projects = [
  {
    title: "Busca Repuestos",
    subtitle: "Rentaq SPA",
    description:
      "Diseñé y desarrollé un sitio web para conectar compradores y vendedores de repuestos, utilizando React para el frontend y Node.js para el backend. Implementé la pasarela de pago Transbank y las notificaciones vía WhatsApp.",
    image: "/public/images/project_busca_repuestos.webp",
  },
  {
    title: "Busca Repuestos",
    subtitle: "Rentaq SPA",
    description:
      "Diseñé y desarrollé un sitio web para conectar compradores y vendedores de repuestos, utilizando React para el frontend y Node.js para el backend. Implementé la pasarela de pago Transbank y las notificaciones vía WhatsApp.",
    image: "/public/images/project_etl.webp",
  },
  {
    title: "Busca Repuestos",
    subtitle: "Rentaq SPA",
    description:
      "Diseñé y desarrollé un sitio web para conectar compradores y vendedores de repuestos, utilizando React para el frontend y Node.js para el backend. Implementé la pasarela de pago Transbank y las notificaciones vía WhatsApp.",
    image: "/public/images/project_busca_repuestos.webp",
  },
];
---

<div class="mt-4">
  {Projects.map((project) => <ProyectsCard {...project} />)}
</div>
